<div class="jumbotron">
  Teste
</div>
<section id="products-list">
  <div class="row">
    <div class="col col-sm">
      <div class="card">
        <img src="../../assets/images/camisa-teste.jpg" class="card-img-top" />
        <div class="card-body">
          <p class="card-text product-title">Camiseta Teste</p>
          <p class="card-text">R$ 69,90</p>
          <button class="btn btn-primary">Adicionar ao Carrinho</button>
        </div>
      </div>
    </div>
    <div class="col col-sm">
      <div class="card">
        <img src="../../assets/images/camisa-teste.jpg" class="card-img-top" />
        <div class="card-body">
          <p class="card-text product-title">Camiseta Teste</p>
          <p class="card-text">R$ 69,90</p>
          <button class="btn btn-primary">Adicionar ao Carrinho</button>
        </div>
      </div>
    </div>
    <div class="col col-sm">
      <div class="card">
        <img src="../../assets/images/camisa-teste.jpg" class="card-img-top" />
        <div class="card-body">
          <p class="card-text product-title">Camiseta Teste</p>
          <p class="card-text">R$ 69,90</p>
          <button class="btn btn-primary">Adicionar ao Carrinho</button>
        </div>
      </div>
    </div>
  </div>
</section>
